@import '../variables.css';

.Search-component {
    width: 100%;
}

.Search-search_container {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Search-search_container_results {
    margin: auto;
    width: 50%;
}

.Search-search_inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Search-stream_item {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Search-search_title {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 24px;
}

.Search-stream_item_avatar {
    height: 5rem;
    width: 5rem;
    vertical-align: middle;
    margin: 0.5rem 1.5rem 0.5rem 0;
    border: 2px solid var(--dark-blue);
    border-radius: 50%;
}

.Search-search_container input {
    width: 80%;
    margin: 0.5rem auto;
}

.Search-search_btn {
    margin-top: 0.5rem;
    width: 10%;
    height: 30px;
    border: none;
    background-color: var(--active-tab-blue);
}
