.kek {
    width: 100%;
}

.StreamPresenter-component {
    height: 100%;
    margin: 0;
}

.StreamPresenter-control_buttons_group {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 1rem;
}

#StreamPresenter-screen_video {
    width: 75vw;
    height: 80vh;
    border: 1px solid grey;
    object-fit: cover
}

#StreamPresenter-webcam_video {
    width: 20vw;
    height: 35vh;
    border: 1px solid grey;
    border-left: none;
    vertical-align: top;
}

.StreamPresenter-stream_id_block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.StreamPresenter-stream_id_block > input {
    margin: 0 0.5rem;
}

.StreamPresenter-viewers_count_block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.StreamPresenter-viewers_icon {
    width: 25px;
    height: 25px;
    margin: 0 0.5rem;
}